<% @articles.each do |article| %>
  <div class="container ">
    <div class="row justify-content-center">
    <div class="col-8">
      <div class="card text-center mb-5 shadow mb-5 bg-white rounded">
        <div class="card-header">
          By <%= article.user.name %>
          <% if article.categories.any? %>
              <div class="mt-2"><%= render article.categories %></div> 
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title card-title"><%= article.title %></h5>
          <p class="card-text"><%= truncate(article.description, length: 150)%></p>
          <%= link_to 'View', article_path(article[:id]), class: "btn btn-outline-success shadow" %>
          <% if logged_in? && (article.user == current_user || current_user.admin?) %>
            <%= link_to 'Edit', edit_article_path(article[:id]), class: "btn btn-outline-secondary shadow" %>
            <%= link_to 'Delete', article_path(article[:id]), class: "btn btn-outline-danger shadow", method: :delete, 
                    data: {confirm: "Are you sure, you want to delete this article?"}%>
          <% end %>        
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(article.created_at) %> ago |
            Upadted <%= time_ago_in_words(article.updated_at) %> age</small>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>